<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>INFOWARE</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 50px;
      }
      
      h1 {
        color: #333;
      }
      
      a {
        margin: 10px;
        text-decoration: none;
        color: blue;
        font-weight: bold;
      }
      
      h2 {
        color: #666;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="./register">Register</a>
    <a href="./dashboard">Dashboard</a>
    <h2>For Edit, visit: /:empID/edit</h2>
    <br>
    <h2>For Delete, visit: /:empID/delete</h2>
    <br>
    <h2>For Get, visit: /:empID/fetch</h2>
  </body>
</html>
